/*―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― 
――
0.全体に適用するCSS

1.header

2.main

3.footer
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/

/*―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― 
――
  0.全体に適用するCSS
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/
a{
  text-decoration: none;
  display: block;
  color: #333333;
}
button{
  border: none;  
  outline: none; 
}
li{
  list-style: none;
}
img{
  display: block;
}
span:hover{
  border-bottom: 1px solid #393939;
  color:  #6A6A6A;
}
html{
  font-size: 10px;
}
@media screen and (max-width: 1024px){
  html{
    font-size: 5px;
  }
}




/*――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― 
――
  1.header
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/
header{
  display: flex;
  justify-content: space-between;
  padding: 25.8px 111px;
  max-width: 1100px;
}
.icon{
  margin: auto 0;
}
.icon a{
  font-size: 4.0rem;
  color: #48bac2;
  margin: 9.5px 0px;
  text-align: center;
}
.menu{
  display: flex;
  justify-content: space-between;
}
.menu a{
  font-size: 18px;
  color: #48bac2;
  padding: 0px 18px;
  line-height: 59.6px;
}
.mail{
  background-color:  #48bac2;
  margin-left: 15px;
  display: flex;
}

.mail a{
  color: #FFFFFF;
}  
.mail img{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.mail_mark{
  font-size: 3.0rem;
}
button:active{
  background-color: #d15f6e;
}

/* HB MENU
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/
.drawer{
  display: none;
}
/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}
@media screen and (max-width: 1024px){
  header{
    padding: 0px 30px;
  }
  .navi{
  display: none;
  }
  .drawer{
    display: inline-block;
  }
  /* ハンバーガーアイコンの設置スペース */
  .drawer-open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上に */
    cursor: pointer;
  }
/* ハンバーガーメニューのアイコン */
  .drawer-open span,
  .drawer-open span:before,
  .drawer-open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background:#F2852D;
    transition: 0.5s;
    position: absolute;
  }
/* 三本線のうち一番上の棒の位置調整 */
  .drawer-open span:before {
    bottom: 8px;
  }

/* 三本線のうち一番下の棒の位置調整 */
  .drawer-open span:after {
    top: 8px;
  }

/* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer-check:checked ~ .drawer-open span {
    background: rgba(255, 255, 255, 0);
  }

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer-check:checked ~ .drawer-open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

#drawer-check:checked ~ .drawer-open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  
/* メニューのデザイン*/
.drawer-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #fff;
  transition: .5s;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 0;/* メニューを画面に入れる */
}

}
/*――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― 
――
  2.main
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/

/* Lorem Ipsum
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/
.Lorem_Ipsum{
  height:668px;
  background-image: url(../img/main_img.png);
  background-size: cover;
  position: relative;

  /*  */
  background-position: center;  
}
.L_text_area{
  text-align: center;
  margin: auto;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.L_title{
  font-size: 4.4rem;
  line-height: 80px;
}
.L_title h2{
  font-weight: normal;
  color: #965E0C;
}
.L_text{
  width: 800px;
  font-size: 2.2rem;
  line-height: 33px;
  text-align: center;
  margin: auto;
}
@media screen and (max-width: 1024px){
  .L_text{
    display: none;
  }
  .Lorem_Ipsum{
    height:300px;
  }
}
/* Greeting
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/
.Greeting{
  background-image: url(../img/greeting.png);
  background-size: cover; 
  padding: 65.8px 0px;
}
.G_text_area{
  /* width: 650px; */
  text-align: center;
  margin: auto;
}
.G_title h2{
  font-size: 4.4rem;
  line-height: 85px;
  color: #965E0C;
}
.G_text{
  font-size: 1.8rem;
  line-height: 36px;
}
@media screen and (max-width: 1024px){
  .G_text{
    display: none;
  }
}
/* banner
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/

.banner_area{
  background-color: #f3ebf2;
  padding: 100px 100px 200px 100px;
}
.banner_row{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
}
.banner_item{
  /* margin-bottom: 100px; */
  text-align: center;
}
.banner_img{
  height: 240px;
  background-color: #cccccc;
  width: 360px;
}
.banner_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner_text{
  font-size: 16px;
  font-family: Noto Sans CJK JP;
  line-height: 36px;
  margin: 15px 0px;
  color: #965E0C;
}
.more_area{
  margin: 0 auto 20px auto;
}
.more_btn{
  width: 226px;
  height: 60px;
  margin: 0 auto;
  background-color: #F2852D;
  color: #f3ebf2;
  line-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.more{ 
  font-size: 18px;
  font-weight: bold;
}
.more_img{
  display: inline-block;
  position: absolute;
  right: 20px;
}
@media screen and (max-width: 1024px){
  .banner_row{
    display: block;
  }
  .banner_img{
    width: 100%;
  }
  .more_area{
    width: 80%;
    margin: 30px auto;   
  }
  .banner_area{
    padding: 100px 0;
  }
}
/* shopinfo
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/
.shopinfo{
  display: flex;
}
.shopinfo_left{
  width: 50%;
  padding: 100px;
  box-sizing: border-box;
}
.shopinfo_title{
  font-size: 2.8rem;
  font-weight: bold;
  color: #48bac2;
  line-height: 60px;
}
.si{
  display: flex;
  font-size: 1.8rem;
  font-family: Noto Sans CJK JP;
  color: #965E0C;
}
.si_left{
  width: 165px;
  border-right: 2px solid  #965E0C;
  padding-top: 15px;
  line-height: 60px;
  font-size: 18px;
}
.si_right{
  padding: 15px 0px 0px 30px;
  line-height: 60px;
  font-size: 18px;
  color: #965E0C;
}
.shopinfo_right{
  width: 50%;
}
.shopinfo_right img{
  width: 100%;
  height:100%;
  object-fit: cover;
}
@media screen and (max-width: 1024px){
  .shopinfo{
    display: block;
  }
  .shopinfo_left{
    width: 100%;
    padding: 100px 0px;
  }
  .si_left{
    width: 40%;
    font-size: 1.8vw;
  }
  .si_right{
    font-size: 1.8vw;
  }
  .shopinfo_title{
    margin-left: 24px;
  }
  .shopinfo_right{
    width: 100%;
  }
  .si{
    width: 90%;
    margin: 0 auto;
  }
}
/*――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― 
――
  3.footer
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/
footer{
  background-image: url(../img/footer.png);
  background-size: cover; 
  color: #FFFFFF; 
  padding: 70px 0px;
}
.footerinfo{
  width: 320px;
  text-align: center;
  margin: auto;
}
.fi_title{
  font-size: 4.0rem;
}
.fi_text p{
  margin: 30px;
  line-height: 25px;
  font-size: 1.8rem;
}
.fi_text img{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.access{
  background-color: #F2852D;
  width: 226px;
  height: 62px;
  text-align: center;
  margin: auto;
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: bold;
}
.access img{
  display: inline-block;
vertical-align: middle;
margin-right: 10px;
}
.ft_menu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0px;
}
.ft_menu a{
  font-size: 1.8rem;
  color: #FFFFFF;
  align-items: center;
  padding: 0px 18px;
}
.border_right{
  border-right: 1px solid #FFFFFF;
}
.copyright{
  text-align: center;
  margin: auto;
  font-size: 12px;
}
@media screen and (max-width: 1024px){
  .ft_menu{
    display: block;
  }
  .ft_menu li{
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
    margin-bottom: 5px;
    border: 1px solid black;
  }
  .ft_menu a{
    color: #965E0C;
    line-height: 30px;
  }
}